apiVersion: v1
kind: Service
metadata:
  name: python-backend
  labels:
    app: python-backend
spec:
  type: NodePort
  selector:
    app: python-backend
  ports:
    - name: http
      port: 80
      targetPort: 8000
      protocol: TCP
